.main {
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;
    min-height: 100vh;
}

.logo-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.column {
    flex: 1;
    padding: 20px;
}

.extensions {
    padding: 5px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
