.main {
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;
}

.container {
    text-align: center;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
    padding: 20px;
}

.extensions {
    padding: 5px;
}
